Source: maui-desktop
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: maui-desktop
Architecture: all
Recommends: about-distro,
            alsa-utils,
            android-tools-adb,
            android-tools-fastboot,
            apt-xapian-index,
            ark,
            audacious,
            baloo-kf5,
            base-files (>= 9),
            bluedevil,
            breeze,
            burgerspace,
            command-not-found,
            dolphin,
            ffmpegthumbnailer,
            firefox-plasma,
            firmware-linux-nonfree,
            flashplugin-nonfree,
            frozen-bubble,
            gimp,
            git,
            gltron,
            gmusicbrowser,
            gnome-chess,
            gnome-disk-utility,
            gparted,
            gstreamer0.10-fluendo-mp3,
            gstreamer1.0-plugins-bad,
            gstreamer1.0-plugins-ugly,
            gtk2-engines-oxygen,
            gtk2-engines-qtcurve,
            gtk3-engines-oxygen,
            gwenview,
            handbrake,
            imagewriter,
            inxi,
            k3b,
            kamoso,
            karbon,
            kate,
            kbreakout,
            kcm-about-extended,
            kcm-plasma-services,
            kde-cli-tools,
            kde-config-gtk-style-preview,
            kde-config-sddm,
            kde-gtk-config,
            kde-spectacle,
            kde-style-oxygen-qt4,
            kde-telepathy-contact-list,
            kdenetwork-filesharing,
            kdenlive,
            kdesudo,
            kffmpegthumbnailer,
            khelpcenter,
            khotkeys,
            kinfocenter,
            kio,
            kio-extras,
            kmahjongg,
            kmenuedit,
            kmines,
            konsole,
            kontact,
            kpat,
            krita,
            kscreen,
            ksshaskpass,
            ksuperkey,
            ksysguard,
            ktron,
            kwin-addons,
            kwin-decoration-oxygen,
            kwrited,
            libappindicator1,
            libappindicator3-1,
            libgtk2-appindicator-perl,
            libqt5websockets5,
            libreoffice,
            libreoffice-gtk,
            libreoffice-style-oxygen,
            marble,
            milou,
            mintupdate,
            nano,
            maui-artwork,
            maui-default-settings,
            default-systemsettings-settings,
            okular,
            okular-extra-backends,
            openjdk-8-jre,
            p7zip-full,
            pavucontrol,
            phonon-backend-gstreamer,
            phonon4qt5-backend-gstreamer,
            phonon4qt5-backend-vlc,
            pidgin,
            plasma-dataengines-addons,
            plasma-nm,
            plasma-runners-addons,
            plasma-volume-control,
            plasma-widget-kimpanel,
            plasma-widget-message-indicator,
            plasma-widgets-addons,
            powerdevil,
            print-manager,
            pulseaudio,
            python-appindicator,
            python-tk,
            python3-tk,
            qapt-deb-installer,
            qtcore4-l10n,
            qtcurve-i18n,
            rar,
            rootactions-servicemenu,
            samba-mounter,
            simplemenu,
            sddm-theme-maui,
            skanlite,
            skype,
            sni-qt,
            sni-qt:i386,
            steam,
            synaptic,
            systemsettings,
            thunderbird-plasma,
            transmission-qt,
            unrar,
            user-manager,
            virtualbox,
            virtualbox-guest-dkms,
            vlc,
            vokoscreen,
            xdg-user-dirs,
            yakuake
Depends: console-data,
         console-setup,
         kbd,
         kwin-x11,
         plasma-desktop,
         plasma-framework,
         sddm,
         xorg,
         xserver-xorg,
         xserver-xorg-video-all
Conflicts: kubuntu-desktop, plasma-netbook
Replaces: kubuntu-desktop, plasma-netbook
Description: Meta package for the Maui desktop environment
   Meta package for the Maui desktop environment
